[submodule "Leetcode-Problems"]
	path = Leetcode-Problems
	url = git@github.com:arpitgo4/Leetcode-Problems.git
[submodule "CSES-Problems"]
	path = CSES-Problems
	url = git@github.com:arpitgo4/CSES-Problems.git
[submodule "Exercism"]
	path = Exercism
	url = git@github.com:arpitgo4/Exercism.git
